img.up-move {
    position: relative !important;
    bottom: 2rem;
	animation: up-move 5s ease-in-out infinite;
}

@keyframes up-move {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0px);
	}
}